.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/.idea/
**/.DS_Store
**/*.iml
**/out/
**/.vscode/

# Kotlin/IntelliJ
*.class

# Node/Vite
node_modules/
miniapp/node_modules/
miniapp/dist/

# Environment
.env
